<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/grupo_ecologico/global.css">
  <link rel="stylesheet" href="/grupo_ecologico/views/productos/productos.css">

  <!-- carrito icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <title>Greenink</title>
</head>
<body> 
  <header>
      <nav class="nav_main">
        <a class="nav_white_logo">
          <img src="/grupo_ecologico/assets/logo_white.png" alt="logo blanco de la empresa" class="nav_white_logo_img">
        </a>
        <ul class="nav_main_ul">
          <li class="nav_main_li">
            <a href="/grupo_ecologico/index.html" class="nav_main_li_a font_15">Inicio</a>
          </li>
          <li>
            <a href="/views/productos/productos.html" class="nav_main_li_a font_15 nav_main_li_onn">Productos</a>
          </li>
          <li>
            <a href="/views/servicios/servicios.html" class="nav_main_li_a font_15">Servicios</a>
          </li>
          <li>
            <a href="/views/quienes/quienes_somos.html" class="nav_main_li_a font_15">¿Quiénes somos?</a>
          </li>
          <li>
            <a href="/views/contacto/contacto.html" class="nav_main_li_a font_15">Contacto</a>
          </li>
        </ul>      
        <ul id="id_nav_main_ul_mobile" class="nav_main_ul_mobile collapsed">
          <i class="font_bold font_3 nav_main_ul_mobile_salida_icono" onclick="cerrar_nav()">></i>
          <li class="nav_main_li_mobile">
            <a href="/grupo_ecologico/index.html" class="nav_main_li_a_mobile font_15" >Inicio</a>
          </li>
          <li>
            <a href="/views/productos/productos.html" class="nav_main_li_a_mobile font_15">Productos</a>
          </li>
          <li>
            <a href="/views/servicios/servicios.html" class="nav_main_li_a_mobile font_15" >Servicios</a>
          </li>
          <li>
            <a href="/views/quienes/quienes_somos.html" class="nav_main_li_a_mobile font_15">¿Quiénes somos?</a>
          </li>
          <li>
            <a href="/views/contacto/contacto.html" class="nav_main_li_a_mobile font_15" >Contacto</a>
          </li>
        </ul>
        <div class="nav_div_icons">
          <i class="fas fa-shopping-cart nav_carrito" onclick="mostrar_carrito(true)"></i>
          <svg onclick="abrir_nav()" class="svg-inline--fa fa-bars fa-w-14 nav_barras" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
        </div>
      </nav>
  </header>
  <section >
    <article class="article_carrousel">
      <img src="/grupo_ecologico/assets/mochilas.png" id="foto_carrousel" class="article_carrousel_img" alt="imagen de promocion"/>
      <div class="article_carrousel_div">
        <div class="article_carrousel_div_txt">
          <h1 id="carrousel_h1" class="article_carrousel_h1 font_3">Mochilas recicladas</h1>
          <p id="carrousel_p" class="article_carrousel_p font_15">
            En GreenInk, estamos comprometidos con la creación de soluciones sostenibles en la industria gráfica.
            Por eso, queremos celebrar tus compras con una oferta especial.
            Al adquirir productos por un monto superior a 20 mil pesos, te regalaremos una mochila reciclada, fabricada con materiales amigables con el medio ambiente.
            Esta es nuestra manera de agradecerte por apoyar nuestro compromiso con el planeta y de invitarte a unirte a nuestra causa.
            ¡Haz tu compra ahora y llévate este regalo exclusivo con GreenInk!
          </p>
          <div class="article_carrousel_buttons">
            <button id="button_carrousel_1" class="button_on font_15" onclick="carrousel(true)">Promo mochilas</button>
            <button id="button_carrousel_2" class=" font_15" onclick="carrousel(false)">Sumá puntos</button>
          </div>
        </div>
      </div>
    </article>
    <article class="article_products">
      <div class="article_products_cats">

      <h2 class="font_3 font_white">Productos</h2>
      
      <hr class="products_hr">
        <div class="article_products_cats_filtrar">
          <label for="ordenar" class="font_2 font_bold font_white article_products_cats_productos_title">Ordenar por</label>

          <select name="ordenar" id="ordenar_productos" class="custom_select" onchange="mayor_menor()">
            <option value="alfabeticamente" class="article_products_cats_productos_input font_black">Alfabéticamente</option>
            <option value="mayor_precio" class="article_products_cats_productos_input font_black">Mayor precio</option>
            <option value="menor_precio" class="article_products_cats_productos_input font_black">Menor precio</option>
          </select>

        <hr class="products_hr">
        <div class="article_products_cats_productos">
          <h2 class="font_2 font_white article_products_cats_productos_title">Categorías</h2>
          <ul>
            <li id="cats_todos" class="font_white article_products_cats_productos_li" onclick="auxIdFunc('todos')">Todos</li>
            <li id="cats_folletos" class="font_white article_products_cats_productos_li" onclick="auxIdFunc('folletos')">Folletos</li>
            <li id="cats_bolsas" class="font_white article_products_cats_productos_li" onclick="auxIdFunc('bolsas')">Bolsas</li>
            <li id="cats_tarjetas" class="font_white article_products_cats_productos_li" onclick="auxIdFunc('tarjetas')">Tarjetas</li>
            <li id="cats_cuadernos" class="font_white article_products_cats_productos_li" onclick="auxIdFunc('cuadernos')">Cuadernos</li>
            <li id="cats_lapices" class="font_white article_products_cats_productos_li" onclick="auxIdFunc('lapices')">Lápices</li>
            <li id="cats_agendas" class="font_white article_products_cats_productos_li" onclick="auxIdFunc('agendas')">Agendas</li>
          </ul>
        </div>
        </div>

      </div>

      <div id="container_productos" class="article_products_boxes_container">

      </div>

    </article>
  </section>
  <aside class="aside_container display_none">

    <div class="aside_container_salida" >
      <i class="font_bold font_3 aside_container_salida_icono" onclick="mostrar_carrito(false)">></i>
    </div>

    <div id="carrito_contenido" class="aside_container_div">

      <h3 class="font_bold font_2 padding_vertical_carrito">Carrito de Compras</h3>

      <hr>

      <h3 class="font_15 padding_vertical_carrito">Producto/s</h3>

      <hr>

      <div id="carrito_items_container">

      </div>
      
      <hr class="prueba1">

      <hr>

      <div class="carrito_div_total padding_vertical_carrito">
        <div>Total</div>
        <div>$ 
          <span id="precio_total_js">0</span>
        </div>
      </div>
      <div id="boton_reservar" class="carrito_div_reservar font_15" onclick="reservar_carrito()">Reservar</div>

    </div>
  </aside>
  <footer>
    <div>
      <ul class="footer_ul">
        <li class="font_1">
          <legend class="font_bold">Trabajo grupal para la materia Diseño y desarrollo web</legend>
        </li>
        <li class="font_1">
          <span class="font_bold">Integrantes del grupo:</span> Aguilera Braian Alejandro, Marco Enzo Augusto, Martos Tomás Joaquín
        </li>
        <li class="font_1">
          <span class="font_bold">Enlance al sitio del grupo: </span> 
          <a href="https://enzoamarco.github.io/grupo/index.html" target="_blank">enzoamarco.github.io/grupo</a>
        </li>
        <li class="font_1">
          <span class="font_bold">Derechos reservados, Imagenes sacadas de:</span>
          <ul class="footer_ul_derechos">
            <li>Imágenes creadas con la IA dream.ai</li>
            <li>Photo by Jason Goodman on Unsplash</li>
          </ul>
        </li>
      </ul>
    </div>

    <div>
      <img src="/grupo_ecologico/assets/uadeImg.png" alt="Logo uade" class="uade_img">
    </div>
    
  </footer>
  <script src="/buy_cart.js"></script>
  <script src="/navMobile.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>