*{
  box-sizing: border-box !important; 
  margin: 0;
  padding: 0;
  list-style: none;
  color: #0F0F0F;
}

body{
  background-color: #E5E4D5;
}

button{
  padding: 0;
  border: none;
  background: none;
}

a:link {
  color: #0F0F0F;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #0F0F0F;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  /* color: #F5F4F4; */
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #0F0F0F;
  background-color: transparent;
  text-decoration: none;
}

/* fonts */

.font_white{
  color: #F5F4F4;
}

.font_black{
  color: #211E20;
}

.font_bold{
  font-weight: 900;
}

.font_1{
  font-size: 1rem;
}

.font_15{
  font-size: 1.5rem;
}

.font_2{
  font-size: 2rem;
}

.font_3{
  font-size: 3rem;
}



/* nav */

.nav_main{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F4F4;
  border: #211E20 1px solid;
  padding: 1rem 2rem;
  position: fixed;
}

.nav_white_logo_img{
  height: 3rem;
  width: 3rem;
}

.nav_main_ul_mobile{
  display: none;
}

.nav_main_ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .nav_main_li{
} */

.nav_main_li_a{
  padding: 1vh 1rem;

}

.nav_main_li_a:hover{
  outline: #211E20 1px solid;
}

.nav_carrito{
  cursor: pointer;
  font-size: 1.5rem;
}

.nav_barras{
  display: none;
}

/* aside */
.aside_container{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
  background-color: #E5E4D5;
  border-left: #211E20 1px solid;
}

.collapsed{
  visibility: collapse;
}

/* .aside_container_salida{
} */

.aside_container_salida_icono{
  display: inline;
  cursor: pointer;
  padding: 0 1rem;
}

.aside_container_div{
  padding: 0rem 2rem;
}

.producto_img_carrito{
  display: flex;
  width: 4rem;
  height: 4rem;
  background-size: cover;
  border: #1C3F39 1px solid;
}

.carrito_ul_div_Superior{
  display: flex;
}

.carrito_ul_div_Superior_txt{
  display: flex;
  flex-flow: column;
  margin: 0 1vw;
}

.carrito_ul_div_inferior{
  display: flex;
  flex-flow: row-reverse;
}

.carrito_div_total{
  display: flex;
  justify-content: space-between;
}

.padding_vertical_carrito{
  padding: .5rem 0;
}

.carrito_div_reservar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1C3F39;
  color: #F5F4F4;
  height: 3rem;
  width: 100%;
}

.prueba1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
}

.nav_carrito:hover, .nav_main_ul_mobile_salida_icono:hover{
  opacity: .8;
  cursor: pointer;
}

.nav_barras:hover{
  cursor: pointer;
}

/* footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #E5E4D5;
}

.uade_img{
  width: 10vw;
  height: 10vh;
}

.footer_ul>li{
  padding: .1rem;
}

.footer_ul_derechos{
  margin: 0 1rem;
}

.footer_ul_derechos>li{
  list-style: square ;
}


@media (max-width: 1600px){

  .aside_container{
    height: 100vh;
    width: 100vw;
  }

  .prueba1{
    display: none;
  }

  .tamaño_item_carrito{
    width: 20rem;
    border: #1C3F39 4px solid;
    padding: .5rem;
    margin: .5rem;
  }

  #carrito_items_container{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    align-items: center;
    /* align-items: flex-start; */
  }

  .producto_img_carrito{
    display: flex;
    width: 6rem;
    height: 6rem;
    background-size: cover;
    background-position: center;
    border: #1C3F39 1px solid;
  }

  .uade_img{
    width: 20vw;
    height: 20vh;
  }
}

@media (max-width: 1100px){

  .nav_main_ul{
    display: none;
  }

  .nav_div_icons{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav_barras{
    display: inline-block;
    font-size: 1.5rem;
  }

  .nav_main_ul_mobile{
    position: absolute;
    top: 0;
    left: -1vw;
    width: 101vw;
    height: 101vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1C3F39;
  }

  .nav_main_ul_mobile_salida_icono{
    position: absolute;
    top: .5rem;
    left: 1rem;
    color: #E5E4D5 !important;
  }
  
  .nav_main_li_a_mobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    color: #E5E4D5 !important;
    border: #E5E4D5 1px solid;
    width: 16rem;
  }

  .nav_main_li_a_mobile:hover{
    background-color: #e5e4d565;
  }

  .tamaño_item_carrito{
    width: 16rem;
    border: #1C3F39 4px solid;
    padding: .5rem;
    margin: .5rem;
  }

  footer{
    flex-flow: column;
  }
  .uade_img{
    width: 40vw;
    height: auto;
    margin: 2rem;
  }
  .font_1{
    font-size: 1.5rem;
  }

}

@media (max-width: 700px){

  .nav_main{
    padding: 1rem ;
  }

  .aside_container_div{
    padding: 0 .1rem;
  }

  .tamaño_item_carrito{
    width: 45vw;
    border: #1C3F39 4px solid;
    padding: .5rem;
    margin: .5rem;
  }

  .producto_img_carrito{
    width: 3.5rem;
    height: 4rem;
  }

  footer{
    flex-flow: column;
  }
  .uade_img{
    width: 40vw;
    height: auto;
    margin: 2rem;
  }
  .font_1{
    font-size: 1rem;
  }
}
@media (max-width: 480px){

  .uade_img{
    width: 60vw;
    height: auto;
    margin: 2rem;
  }

}