<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/global.css">
  <link rel="stylesheet" href="/views/servicios/servicios.css">

  <!-- carrito icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <title>Greenink</title>
</head>
<body>
<header>
        <nav class="nav_main">
          <a class="nav_white_logo">
            <img src="/assets/logo_white.png" alt="logo blanco de la empresa" class="nav_white_logo_img">
          </a>
          <ul class="nav_main_ul">
            <li class="nav_main_li">
              <a href="/index.html" class="nav_main_li_a font_15">Inicio</a>
            </li>
            <li>
              <a href="/views/productos/productos.html" class="nav_main_li_a font_15">Productos</a>
            </li>
            <li>
              <a href="/views/servicios/servicios.html" class="nav_main_li_a font_15">Servicios</a>
            </li>
            <li>
              <a href="/views/quienes/quienes_somos.html" class="nav_main_li_a font_15">¿Quiénes somos?</a>
            </li>
            <li>
              <a href="/views/contacto/contacto.html" class="nav_main_li_a font_15">Contacto</a>
            </li>
          </ul>      
          <ul id="id_nav_main_ul_mobile" class="nav_main_ul_mobile collapsed">
            <i class="font_bold font_3 nav_main_ul_mobile_salida_icono" onclick="cerrar_nav()">></i>
            <li class="nav_main_li_mobile">
              <a href="/index.html" class="nav_main_li_a_mobile font_15" >Inicio</a>
            </li>
            <li>
              <a href="/views/productos/productos.html" class="nav_main_li_a_mobile font_15">Productos</a>
            </li>
            <li>
              <a href="/views/servicios/servicios.html" class="nav_main_li_a_mobile font_15" >Servicios</a>
            </li>
            <li>
              <a href="/views/quienes/quienes_somos.html" class="nav_main_li_a_mobile font_15">¿Quiénes somos?</a>
            </li>
            <li>
              <a href="/views/contacto/contacto.html" class="nav_main_li_a_mobile font_15" >Contacto</a>
            </li>
          </ul>
          <div class="nav_div_icons">
            <i class="fas fa-shopping-cart nav_carrito" onclick="mostrar_carrito(true)"></i>
            <svg onclick="abrir_nav()" class="svg-inline--fa fa-bars fa-w-14 nav_barras" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
          </div>
        </nav>
</header>
    <h1 class="h1s">Todos los servicios</h1>

    <article class="c_servicios">
        <div class="caja_car">
            <div class="caja2_h2">
                <h2 class="font_15">Solución de impresiones ecológicas</h2>
            </div>
            <div class="c2_c">
                <p>Nuestra servicio con cartuchos recargables ofrece soluciones de impresión de alta calidad, en blanco y negro o en color de sus documentos, con precisión y eficiencia</p>
                <a href="/views/servicios/servicios_cartuchos.html"><p class="leer">Leer más</p></a>
            </div>
        </div>

        <div class="caja_lapis">
            <div class="caja2_h2">
                <h2>Útiles escolares ecológicos</h2>
            </div>
            <div class="c2_c">
                <p>Ofrecemos una amplia gama de útiles escolares, desde libros de texto hasta artículos de papelería, para ayudar a los estudiantes a lograr el éxito académico.</p>
                <a href="/views/servicios/servicios_lapices.html"><p class="leer">Leer más</p></a>
            </div>
        </div>

        <div class="caja_papel">
            <div class="caja2_h2">
                <h2 class="c_t2">Fotocopias ecológicas</h2>
            </div>
            <div class="c2_c">
                <p>Ofrecemos el uso de hojas recicladas para impresiones sin culpa, reutilizamos diarios u hojas viejas para darle una nueva vida</p>
                <a href="/views/servicios/servicios_hojas.html"><p class="leer">Leer más</p></a>
            </div>
        </div>
    </article>

    <section class="sec_ser">
        <div class="clien">
            <h2>Clientes satisfechos</h2>
            <p>Nuestro compromiso con la sostenibilidad a través de nuestras nuevas prácticas Eco-Friendly nos diferencia y hace que los clientes se sientan bien con sus compras.</p>
            <a href="/views/servicios/clientes_satisfechos.html"><button>Ver testimonios</button></a>
        </div>

        <div class="im_clien">
        </div>

    </section>
    <aside class="aside_container display_none">

      <div class="aside_container_salida" >
        <i class="font_bold font_3 aside_container_salida_icono" onclick="mostrar_carrito(false)">></i>
      </div>
  
      <div id="carrito_contenido" class="aside_container_div">
  
        <h3 class="font_bold font_2 padding_vertical_carrito">Carrito de Compras</h3>
  
        <hr>
  
        <h3 class="font_15 padding_vertical_carrito">Producto/s</h3>
  
        <hr>
  
        <div id="carrito_items_container">
  
        </div>
        
        <hr class="prueba1">
  
        <hr>
  
        <div class="carrito_div_total padding_vertical_carrito">
          <div>Total</div>
          <div>$ 
            <span id="precio_total_js">0</span>
          </div>
        </div>
        <div id="boton_reservar" class="carrito_div_reservar font_15" onclick="reservar_carrito()">Reservar</div>
  
      </div>
    </aside>
    <footer>
        <div>
          <ul class="footer_ul">
            <li class="font_1">
              <legend class="font_bold">Trabajo grupal para la materia Diseño y desarrollo web</legend>
            </li>
            <li class="font_1">
              <span class="font_bold">Integrantes del grupo:</span> Aguilera Braian Alejandro, Marco Enzo Augusto, Martos Tomás Joaquín
            </li>
            <li class="font_1">
              <span class="font_bold">Enlance al sitio del grupo: </span> 
              <a href="https://enzoamarco.github.io/grupo/index.html" target="_blank">enzoamarco.github.io/grupo</a>
            </li>
            <li class="font_1">
              <span class="font_bold">Derechos reservados, Imagenes sacadas de:</span>
              <ul class="footer_ul_derechos">
                <li>Imágenes creadas con la IA dream.ai</li>
                <li>Photo by Jason Goodman on Unsplash</li>
              </ul>
            </li>
          </ul>
        </div>
    
        <div>
          <img src="/assets/uadeImg.png" alt="Logo uade" class="uade_img">
        </div>
        
      </footer>
      <script src="/cart.js"></script>
      <script src="/navMobile.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>